name: deploy-site

on:
  workflow_dispatch:
  release:
    types: [ released ]

permissions:
  contents: read

env:
  PROJECT_ID: jaredwray
  SERVICE_NAME: mockhttp

jobs:
  setup-build-deploy:
    name: Setup and Deploy to Prod
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Node
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      # DO NOT USE pnpm here, it will cause issues with Docker build
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Build
        run: pnpm build

      # Setup gcloud CLI
      - name: Authenticate with Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      # Build and push image to Google Container Registry
      - name: Docker Auth
        run: gcloud auth configure-docker

      - name: Build Docker Image
        run: docker build -t gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA .

      - name: Docker Push to Google Cloud
        run: docker push gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA

      - name: Make deploy-region.sh executable
        run: chmod +x ./scripts/deploy-region.sh 

      # Deploy image to Cloud Run
      - name: Deploy to [us-central1]
        run: ./scripts/deploy-region.sh us-central1

      # Deploy image to Cloud Run
      - name: Deploy to [us-west1]
        run: ./scripts/deploy-region.sh us-west1

      # Deploy image to Cloud Run
      - name: Deploy to [us-east1]
        run: ./scripts/deploy-region.sh us-east1

      # Deploy image to Cloud Run
      - name: Deploy to [europe-west1]
        run: ./scripts/deploy-region.sh europe-west1

      # Deploy image to Cloud Run
      - name: Deploy to [europe-west3]
        run: ./scripts/deploy-region.sh europe-west3

      # Deploy image to Cloud Run
      - name: Deploy to [asia-northeast1]
        run: ./scripts/deploy-region.sh asia-northeast1

      # Deploy image to Cloud Run
      - name: Deploy to [asia-southeast1]
        run: ./scripts/deploy-region.sh asia-southeast1